.works {
  padding: 77px 183px 0 200px;
  position: relative;
  &__title {
    font-size: 30px;
    line-height: 72px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
  }
}
