.slider {
  margin: 0 auto;
  position: relative;
  &__btn {
    position: absolute;
    top: 36%;
    left: 0%;
    transform: translateX(0%);
    width: 53px;
    height: 54px;
    background-color: rgba(40, 40, 40, 0.7);
    transition: 0.3s all;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    z-index: 10;
    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 100%;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.5s;
      box-shadow: 0 0 5px 20px rgba(40, 40, 40, 0.7);
    }
    &:active:after {
      box-shadow: 0 0 0 0 rgba(40, 40, 40, 0.7);
      position: absolute;
      border-radius: 100%;
      left: 0;
      top: 0;
      opacity: 1;
      transition: 0s;
    }
    &:hover {
      background-color: rgba(40, 40, 40, 1);
    }
    svg {
      width: 18px;
      height: 15px;
      fill: white;
    }
    &-right {
      left: 100%;
      transform: translateX(-100%);
    }
  }
  &__item {
    opacity: 0.5;
    transition: 0.3s all;
    height: 100%;
    &-img {
      width: 150px;
      height: 150px;
      display: block;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%;
      }
    }
    &-title {
      opacity: 0.5;
      font-size: 12.1px;
      line-height: 72px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #ffffff;
      text-align: center;
    }
    &_active {
      opacity: 1;
      div {
        width: 300px;
        height: 300px;
      }
      h4 {
        font-size: 16px;
        line-height: 72px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: #ffffff;
        opacity: 1;
      }
      span {
        display: block;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #ffffff;
        opacity: 1;
        text-align: center;
      }
    }
  }
}

.slick {
  &-track {
    display: flex;
  }
  &-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  &-list {
    overflow: hidden;
    margin-top: clamp(1rem, calc(1rem + 3.22vw), 7.5rem);
  }
}
