.promo {
  padding: 93px 109px 0 196px;
  &__bg {
    position: absolute;
    top: 9%;
    right: 5%;
    &:after {
      content: "";
      position: absolute;
      top: 99%;
      right: 13px;
      width: 1158px;
      height: 2px;
      opacity: 0.05;
      background-color: #ffffff;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 223%;
      width: 30px;
      height: 6px;
      background-color: #0f33ff;
    }
  }
  &__title {
    font-size: 82px;
    line-height: 72px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #ffffff;
    user-select: none;
  }
  &__items {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
  }
  &__item {
    cursor: pointer;
    width: 240px;
    &:hover {
      h2, h3, span {
        opacity: 1;
      }
    }
    &-title {
      opacity: 0.1;
      font-size: 18.1px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #ffffff;
      transition: .3s all;
    }
    span {
      display: block;
      margin-top: 27px;
      opacity: 0.1;
      font-size: 16.1px;
      line-height: 24px;
      font-weight: 400;
      color: #ffffff;
      transition: .3s all;
    }
  }
}
